*
{
    margin: 0;
    padding: 0;
    font-family: PixBob;
    overflow: hidden;
}

@font-face
{
    font-family: PixBob;
    src: url(../fonts/PixBob-Lite\ Free.ttf);
}

@keyframes barra {
    0% {
        box-shadow: 0 0 0 0 #f16524 inset;
    }
    20% {
        box-shadow: 0 0 0 0 #f16524 inset;
    }
    40% {
        box-shadow: 0 0 0 0 #f16524 inset;
    }
    60% {
        box-shadow: 0 0 0 0 #f16524 inset;
    }
    100% {
        box-shadow: 100vh 0 0 0 #f16524 inset;
    }
}

@keyframes barra2 {
    0% {
        box-shadow: 0 0 0 0 #2465f1 inset;
    }
    20% {
        box-shadow: 0 0 0 0 #2465f1 inset;
    }
    40% {
        box-shadow: 0 0 0 0 #2465f1 inset;
    }
    60% {
        box-shadow: 0 0 0 0 #2465f1 inset;
    }
    100% {
        box-shadow: 100vh 0 0 0 #2465f1 inset;
    }
}

@keyframes barra3 {
    0% {
        box-shadow: 0 0 0 0 #f7e018 inset;
    }
    20% {
        box-shadow: 0 0 0 0 #f7e018 inset;
    }
    40% {
        box-shadow: 0 0 0 0 #f7e018 inset;
    }
    60% {
        box-shadow: 0 0 0 0 #f7e018 inset;
    }
    100% {
        box-shadow: 10vh 0 0 0 #f7e018 inset;
    }
}

@keyframes len1 {
    0% {
        margin-top: 10vh;
        filter: opacity(0);
    }
    100% {
        margin-top: 0vh;
        filter: opacity(1);
    }
}

@keyframes len2 {
    0% {
        margin-top: 10vh;
        filter: opacity(0);
    }
    100% {
        margin-top: 0vh;
        filter: opacity(1);
    }
}

@keyframes len3 {
    0% {
        margin-top: 10vh;
        filter: opacity(0);
    }
    100% {
        margin-top: 0vh;
        filter: opacity(1);
    }
}

:root
{
    --colorUno: #f8dc70;
    --colorDos: #0e0c2c;
    --colorTres: #bb402e;
    --colorCuatrp: #3760b2;
    --colorCinco: #2596be;
    --colorSeis: #631c27;
    --colorSiete: #294682;
}

body
{
    background: url(../img/sistema-solar-ilustracion_3840x2160_xtrafondos.com.jpg) no-repeat;
    background-size: cover;
}

header
{
    width: 100%;
    height: 15vh;
    color: #fff;
    font-size: 100%;
}

nav
{
    width: 60%;
    height: 100%;
}

section
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

ul
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li
{
    padding: 0 1vh;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background .5s, color .5s, padding .5s;
}

li:hover
{
    padding: 0 5vh;
    background-color: #fff;
    color: #000;
}

a
{
    height: 100%;
    color: #fff;
    text-decoration: none;
}

.container-H
{
    padding: 0 1%;
    width: 100%;
    height: 50%;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
}

.container-H:hover
{
    height: 80%;
    font-size: 200%;
    background-color: #000;
    border-bottom: 5vh solid #fff;
}

.container-H h1
{
    cursor: pointer;
}

.container-H h1:hover{
    background: url(../img/sistema-solar-ilustracion_3840x2160_xtrafondos.com.jpg);
    background-size: 700%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-N
{
    width: 100%;
    height: 100%;
}

.container-S
{
    width: 80%;
    height: 100%;
    border: 1px solid blue;
}

.text
{
    width: 100%;
    height: 8%;
    color: #fff;
    display: flex;
    align-items: center;
}

.lenguajes
{
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.len
{
    margin-right: 2vh;
    text-align: center;
    flex: 1;
    font-size: 20px;
    color: #fff;
}

.len:nth-last-child(1)
{
    margin-right: 0;
}

.lenguaje1
{
    animation: len1 3s;
    animation-iteration-count: 1;
}

.lenguaje2
{
    animation: len2 3.5s;
    animation-iteration-count: 1;
}

.lenguaje3
{
    animation: len3 4s;
    animation-iteration-count: 1;
}

.barra
{
    width: 100%;
    height: 5vh;
    background-color: grey;
}

.interior
{
    width: 100%;
    height: 100%;
}

.uno
{
    box-shadow: 1000vh 0 0 0 #f16524 inset;
    animation: barra 4s;
    animation-iteration-count: 1;
}

.dos
{
    box-shadow: 1000vh 0 0 0 #2465f1 inset;
    animation: barra2 5s;
    animation-iteration-count: 1;
}

.tres
{
    box-shadow: 10vh 0 0 0 #f7e018 inset;
    animation: barra3 6s;
    animation-iteration-count: 1;
}