*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(img/sistema-solar-ilustracion_3840x2160_xtrafondos.com.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
}

header
{
    height: 70px;
    background-color: #22142b;
    color: #4a2b50;
}

@font-face
{
    font-family: PixBob;
    src: url(fonts/PixBob-Lite\ Free.ttf);
}

@font-face
{
    font-family: RachelBrown;
    src: url(fonts/RachelBrown.ttf);
}

.a
{
    float: right;
    position: absolute;
    top: 40px;
    left: 80px;
    font-family: PixBob;
}

#Inicio
{
    float: right;
    width: 60%;
    height: auto;
    backdrop-filter: blur(2px);
    border-radius: 4px;
    background-color: #241e7423;
}

#a
{
    height: 10000px;
}

.html
{
    align-self: auto;
}

.css
{
    align-self: center;
}

.JS
{
    align-self: auto;
}

.container-2
{
    margin-top: auto;
    margin-left: auto;
    padding: 0;
    text-align: center;
    color: #d1cedf;
    font-family: sans-serif;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3760b2;
}

li 
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #2d2ba1;
}