*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(img/sistema-solar-ilustracion_3840x2160_xtrafondos.com.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

header
{
    height: 70px;
    background-color: #22142b;
    color: #4a2b50;
}

@font-face
{
    font-family: PixBob;
    src: url(fonts/PixBob-Lite\ Free.ttf);
}

@font-face
{
    font-family: RachelBrown;
    src: url(fonts/RachelBrown.ttf);
}

.a
{
    float: right;
    position: absolute;
    top: 40px;
    left: 80px;
    font-family: PixBob;
}

#inicio
{
    width: 60%;
    height: 100%;
    backdrop-filter: blur(4px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(230, 192, 238);
}

.marco
{
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 160px;
    background-color: #75466a;
}

.perfil
{
    margin-left: auto;
    margin-right: auto;
}

.Nombre
{
    font-family: PixBob;
}

.acerca-de-mi
{
    background-color: rgb(13, 11, 31);
}

a
{
    background-color: #D95B0F;
    position: absolute;
    left: 1230px;
    top: 15px;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: large;
    font-family: PixBob;
    color: #f8dccb;
}
a:hover
{
    background-color: #c2350a;
    width: 105px;
    height: 45px;
}